assets/jade/pages/index.jade
//- ========================================
//- Home Page
//- ========================================

extends ../templates/main.jade

block content
  .hero--cover
    .hero.hero--absolute
      +image("hero.jpg")
    .compartment
      .grid.grid--20.flex.flex--centered
        .col-flush.col-wooser-8
          h1.hero__title Healthcare for Maryland,  by Marylanders.
          .col-wooser-9
            p Evergreen Health is a nonprofit that’s leading the charge to bring smart, honest, and affordable high-quality health insurance to all Marylanders. 
            ul
              li We’re governed by our members—not shareholders — ensuring that decisions are based on people, not profits. 
              li We’re committed to making you an advocate for your health by simplifying today’s complex healthcare system. 
              li We’re proving to America that a concierge-style healthcare experience can offer high-quality, personal care—affordably.
            .button.marketo__trigger(href="") Request Info
        .col-big-8.col-wooser-4
          .marketo-form
            span.marketo__close
              +symbol("close")
            h4 We’re Evergreen.#[br]#[span.normal How can we help you?]
            <script src="//app-ab08.marketo.com/js/forms2/js/forms2.min.js"></script>
            <form id="mktoForm_1162"></form>
            <script>MktoForms2.loadForm("//app-ab08.marketo.com", "304-HHX-644", 1162);</script>

index.html
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Title of site</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="assets/css/styles.css" rel="stylesheet"><link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body class="interior">
    <div style="display: none;" class="sprite"><svg xmlns="http://www.w3.org/2000/svg"><symbol id="chevron-down" viewBox="0 0 20 20"><path d="M4.516 7.548c.436-.446 1.043-.481 1.576 0L10 11.295l3.908-3.747c.533-.481 1.141-.446 1.574 0 .436.445.408 1.197 0 1.615-.406.418-4.695 4.502-4.695 4.502a1.095 1.095 0 0 1-1.576 0S4.924 9.581 4.516 9.163s-.436-1.17 0-1.615z"/></symbol><symbol id="chevron-left" viewBox="0 0 20 20"><path d="M12.452 4.516c.446.436.481 1.043 0 1.576L8.705 10l3.747 3.908c.481.533.446 1.141 0 1.574-.445.436-1.197.408-1.615 0-.418-.406-4.502-4.695-4.502-4.695a1.095 1.095 0 0 1 0-1.576s4.084-4.287 4.502-4.695 1.17-.436 1.615 0z"/></symbol><symbol id="chevron-right" viewBox="0 0 20 20"><path fill="#fff" d="M9.163 4.516c.418.408 4.502 4.695 4.502 4.695a1.095 1.095 0 0 1 0 1.576s-4.084 4.289-4.502 4.695c-.418.408-1.17.436-1.615 0-.446-.434-.481-1.041 0-1.574L11.295 10 7.548 6.092c-.481-.533-.446-1.141 0-1.576s1.197-.409 1.615 0z"/></symbol><symbol id="close" viewBox="0 0 18 17"><title>Group 7</title><g stroke-width="3" fill="none" fill-rule="evenodd"><path d="M2 1l14 15M2 16L16 1"/></g></symbol><symbol id="facebook" viewBox="0 0 19 32"><path d="M17.125.214v4.714h-2.804q-1.536 0-2.071.643T11.714 7.5v3.375h5.232l-.696 5.286h-4.536v13.554H6.25V16.161H1.696v-5.286H6.25V6.982q0-3.321 1.857-5.152T13.053 0q2.625 0 4.071.214z"/></symbol><symbol id="home" viewBox="0 0 20 20"><path d="M18.672 11H17v6c0 .445-.194 1-1 1h-4v-6H8v6H4c-.806 0-1-.555-1-1v-6H1.328c-.598 0-.47-.324-.06-.748L9.292 2.22c.195-.202.451-.302.708-.312.257.01.513.109.708.312l8.023 8.031c.411.425.539.749-.059.749z"/></symbol><symbol id="minus" viewBox="0 0 20 20"><path d="M16 10c0 .553-.048 1-.601 1H4.601C4.049 11 4 10.553 4 10s.049-1 .601-1H15.4c.552 0 .6.447.6 1z"/></symbol><symbol id="play" viewBox="0 0 24 24"><path d="M12 20.016c4.406 0 8.016-3.609 8.016-8.016S16.407 3.984 12 3.984 3.984 7.593 3.984 12 7.593 20.016 12 20.016zm0-18c5.531 0 9.984 4.453 9.984 9.984S17.531 21.984 12 21.984 2.016 17.531 2.016 12 6.469 2.016 12 2.016zM9.984 16.5v-9l6 4.5z"/></symbol><symbol id="plus" viewBox="0 0 20 20"><path d="M16 10c0 .553-.048 1-.601 1H11v4.399c0 .552-.447.601-1 .601s-1-.049-1-.601V11H4.601C4.049 11 4 10.553 4 10s.049-1 .601-1H9V4.601C9 4.048 9.447 4 10 4s1 .048 1 .601V9h4.399c.553 0 .601.447.601 1z"/></symbol><symbol id="search" viewBox="0 0 20 20"><path d="M17.545 15.467l-3.779-3.779a6.15 6.15 0 0 0 .898-3.21c0-3.417-2.961-6.377-6.378-6.377S2.1 4.87 2.1 8.287c0 3.416 2.961 6.377 6.377 6.377a6.15 6.15 0 0 0 3.115-.844l3.799 3.801a.953.953 0 0 0 1.346 0l.943-.943c.371-.371.236-.84-.135-1.211zM4.004 8.287c0-2.366 1.917-4.283 4.282-4.283s4.474 2.107 4.474 4.474c0 2.365-1.918 4.283-4.283 4.283s-4.473-2.109-4.473-4.474z"/></symbol><symbol id="twitter" viewBox="0 0 30 32"><path d="M28.929 7.286q-1.196 1.75-2.893 2.982.018.25.018.75 0 2.321-.679 4.634t-2.063 4.437-3.295 3.759-4.607 2.607-5.768.973q-4.839 0-8.857-2.589.625.071 1.393.071 4.018 0 7.161-2.464-1.875-.036-3.357-1.152t-2.036-2.848q.589.089 1.089.089.768 0 1.518-.196-2-.411-3.313-1.991t-1.313-3.67v-.071q1.214.679 2.607.732-1.179-.786-1.875-2.054t-.696-2.75q0-1.571.786-2.911Q4.91 8.285 8.008 9.883t6.634 1.777q-.143-.679-.143-1.321 0-2.393 1.688-4.08t4.08-1.688q2.5 0 4.214 1.821 1.946-.375 3.661-1.393-.661 2.054-2.536 3.179 1.661-.179 3.321-.893z"/></symbol><symbol id="undo" viewBox="0 0 32 32"><path d="M23.808 32c3.554-6.439 4.153-16.26-9.808-15.932V24L2 12 14 0v7.762C30.718 7.326 32.58 22.519 23.808 32z"/></symbol><symbol id="youtube" viewBox="0 0 20 20"><path d="M10 2.3C.172 2.3 0 3.174 0 10s.172 7.7 10 7.7 10-.874 10-7.7-.172-7.7-10-7.7zm3.205 8.034l-4.49 2.096c-.393.182-.715-.022-.715-.456V8.026c0-.433.322-.638.715-.456l4.49 2.096c.393.184.393.484 0 .668z"/></symbol></svg>
    </div>
    <header class="site__header"><a class="site__logo-bottle">
        <div href="" class="site__logo">Silk</div></a>
      <button aria-hidden="true" class="drawer__trigger"></button>
      <nav class="silk-nav nav-main drawer">
        <div class="silk-nav__controls"><a href="/" class="silk-nav__trigger silk-nav__trigger--home">
              <svg class="symbol symbol-home">
                <use xlink:href="#home"></use>
              </svg><span>Home</span></a>
          <button class="silk-nav__trigger silk-nav__trigger--revert">
              <svg class="symbol symbol-undo">
                <use xlink:href="#undo"></use>
              </svg><span>Main Menu</span>
          </button>
          <button class="silk-nav__trigger silk-nav__trigger--reverse">
              <svg class="symbol symbol-chevron-left">
                <use xlink:href="#chevron-left"></use>
              </svg>
          </button>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="hero--cover">
        <div class="hero hero--absolute"><img src="./assets/images/hero.jpg" alt="undefined">
        </div>
        <div class="compartment">
          <div class="grid grid--20 flex flex--centered">
            <div class="col-flush col-wooser-8">
              <h1 class="hero__title">Healthcare for Maryland,  by Marylanders.</h1>
              <div class="col-wooser-9">
                <p>Evergreen Health is a nonprofit that’s leading the charge to bring smart, honest, and affordable high-quality health insurance to all Marylanders. </p>
                <ul>
                  <li>We’re governed by our members—not shareholders — ensuring that decisions are based on people, not profits. </li>
                  <li>We’re committed to making you an advocate for your health by simplifying today’s complex healthcare system. </li>
                  <li>We’re proving to America that a concierge-style healthcare experience can offer high-quality, personal care—affordably.</li>
                </ul>
                <div href="" class="button marketo__trigger">Request Info</div>
              </div>
            </div>
            <div class="col-big-8 col-wooser-4">
              <div class="marketo-form"><span class="marketo__close">
                    <svg class="symbol symbol-close">
                      <use xlink:href="#close"></use>
                    </svg></span>
                <h4>We’re Evergreen.<br><span class="normal">How can we help you?</span></h4><script src="//app-ab08.marketo.com/js/forms2/js/forms2.min.js"></script>
                <form id="mktoForm_1162"></form>
                <script>MktoForms2.loadForm("//app-ab08.marketo.com", "304-HHX-644", 1162);</script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="site__footer">
      <div class="compartment">
        <div class="lace">
          <nav class="nav nav-social">
            <ul>
              <li><a href="" target="_blank"><span class="bottle">
                      <svg class="symbol symbol-facebook">
                        <use xlink:href="#facebook"></use>
                      </svg></span><span class="visible-for-screen-readers">Facebook</span></a></li>
              <li><a href="" target="_blank"> <span class="bottle">
                      <svg class="symbol symbol-twitter">
                        <use xlink:href="#twitter"></use>
                      </svg></span><span class="visible-for-screen-readers">Twitter</span></a></li>
              <li><a href="" target="_blank"> <span class="bottle">
                      <svg class="symbol symbol-youtube">
                        <use xlink:href="#youtube"></use>
                      </svg></span><span class="visible-for-screen-readers">Youtube</span></a></li>
            </ul>
          </nav>
          <p class="tiny-print">&copy; 2016 Evergreen Health Cooperative</p>
          <nav class="nav nav-legal">
            <ul>
              <li><a href="">Notice of Privacy Practices</a></li>
              <li><a href="">Terms & Conditions</a></li>
              <li><a href="">Fraud Reporting</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-small-10 sole">
          <p class="tiny-print"><strong>Sign up for our newsletter</strong></p>
          <p class="mini-print">Learn about upcoming events, get health advice, and see the difference innovative healthcare is making in Maryland.</p>
            <div class="input-field">
              <input type="text" placeholder="Email Address">
              <div class="input-hint input-hint--submit">
                <input type="submit" class="input-hint__field">
              </div>
            </div>
        </div>
      </div>
    </footer>
    <script src="assets/js/build/main.js"></script>
    <script src="assets/js/build/site.js"></script>
  </body>
</html>
